# Sensitive configuration - This file should not be committed to version control
# These values should be provided via environment variables in production

spring:
  datasource:
    username: ${DB_USERNAME:jira}
    password: ${DB_PASSWORD:CodeGymJira}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:jira}
  
  mail:
    username: ${MAIL_USERNAME:cgjirafinal@gmail.com}
    password: ${MAIL_PASSWORD:}
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
  
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID:}
            client-secret: ${GITHUB_CLIENT_SECRET:}
          google:
            client-id: ${GOOGLE_CLIENT_ID:}
            client-secret: ${GOOGLE_CLIENT_SECRET:}
          gitlab:
            client-id: ${GITLAB_CLIENT_ID:}
            client-secret: ${GITLAB_CLIENT_SECRET:}

app:
  test-mail: ${APP_TEST_MAIL:cgjirafinal@gmail.com}
